/* Votre fichier CSS */
.banner {
  width: 1200px; /* La largeur est maintenant en pourcentage par rapport à une largeur parente de 1440 pixels */
  max-width: 1240px; /* La largeur maximale est de 1240 pixels */
  height: 223px;
  margin: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.banner p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  color: white;
  font-size: 24px;
}
  .banner-1 {
    background-image: url("./background-banner.png");
  }

  .banner-2 {
    background-image: url("./bannerapropos.png");
  }
  /* Media query pour les écrans de 768 pixels de largeur ou moins (mode mobile) */
@media only screen and (max-width: 768px) {
   .banner {
    width: 100%;
    margin-left: 15px;
   }

}
