.equipement {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    
  }
 .collapse .description{
  display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    max-width: 1023px;
    height: 52px;
    color: white;
    border-radius: 10px;
   width: 90%;
    font-size: 24px;
}

.equipement .collapse-content{
  width: 48%;
}

.svg-inline--fa.fa-chevron-up.chevron-icon {
  font-size: 20px;
}
.svg-inline--fa.fa-chevron-down.chevron-icon.rotate {
  font-size: 20px;
}
.description-content {
    background-color: #f1f1f1;
    width:  582px;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
}  
.equipement-content {
    width:  50%;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
}  
.chevron-icon.rotate {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
  }
  
 .chevron-icon {
    transition: transform 0.15s ease; /* Ajout de la transition */
  }
  
  .DescriptionEquipement .collapsible-container.open .chevron-icon {
    transform: rotate(180deg); /* Rotation du chevron vers le bas quand ouvert */
  }
  ul {
    list-style: none;
  }
/* Media query pour les écrans de 768 pixels de largeur ou moins (mode mobile) */
@media only screen and (max-width: 1170px) {
    .DescriptionEquipement {
        flex-wrap: wrap;
        display: block;
        margin: 0px;
      }
      .toggle-button {
        margin-bottom: 20px;
        width: 375px;
        width: 100%;
      }
      .equipement{
        display: flex;
        flex-direction: column;
      }
      .equipement .collapse-content{
        width: 100%;
      }
     
    }
  